Repository pdehlke/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-script, docker-test

install-script:
  stage: test
  parallel:
    matrix:
    - UBUNTU_TAG:
      - :20.04
      - :22.04
      - :24.04
  image: ubuntu$UBUNTU_TAG
  variables:
    LANGUAGE: en_US.UTF-8
    LANG: en_US.UTF-8
  before_script:
  - apt-get update -qq
  - apt-get install -qqy locales lsb-release software-properties-common
  ...

docker-test:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  cache: []
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  allow_failure: true
  when: manual
  before_script:
  ...

fix: re-templatize .zshrc and add p10k mise plugin
  root/dot_zshrc.tmpl
  root/private_dot_config/shell/p10k.mise.zsh
Due: install-script

fix: drop z4h diff alias when color git diff works
  root/dot_zsh.after/functions.zsh
Due: install-script

feat: initilaize nvim after first install
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

chore: remove old zsh setup files
  root/aliases.sh
  root/dot_zshrc.tmpl
  root/private_dot_config/shell/theme.zsh
  root/zsh/0000_before.zsh
  root/zsh/0_path.zsh
  root/zsh/aliases.zsh
  root/zsh/asdf.zsh
  root/zsh/colors.zsh
  root/zsh/custom-prompts/prompt_agnoster_setup
  root/zsh/custom-prompts/prompt_kylewest_setup
  root/zsh/custom-prompts/prompt_powerlevel10k_setup
  root/zsh/custom-prompts/prompt_skwp_setup
  root/zsh/custom-prompts/prompt_steeef_simplified_setup
  root/zsh/custom_prompt_path.zsh
  root/zsh/fasd.zsh
  root/zsh/git.zsh
  root/zsh/key-bindings.zsh
  root/zsh/last-command.zsh
  root/zsh/noglob.zsh
  root/zsh/override/theme.zsh
  root/zsh/rm.zsh
  root/zsh/secrets.zsh
  root/zsh/vi-mode.zsh
  root/zsh/zmv.zsh
  root/zsh/zsh-aliases.zsh
  root/zsh/zzz_fzf.zsh
  root/zsh/zzzz_after.zsh
Due: install-script

feat: use 1password for ssh-agent
  root/dot_zshrc.tmpl
  root/private_dot_config/nvim/lazy-lock.json
  root/private_dot_ssh/config
Due: install-script

fix: re-add /Users/pde/.yadr/root/bin to PATH after z4h upgrade
  root/dot_zshrc.tmpl
Due: install-script

fix: small tweaks for z4h
  root/aliases.sh
  root/dot_zlogout.tmpl
  root/dot_zshrc.tmpl
Due: install-script

docs: add comprehensive neovim plugins documentation
  NEOVIM_PLUGINS.md
Due: none

fix: fetch os-specific asdf instead of always using linux
  root/dot_local/bin/.chezmoiexternal.yaml
Due: install-script

doc: start replacing prezto docs with zsh4humans
  README-pt.md
  README.md
  docs/nvim/README.md
  docs/zsh/themes.md
  root/private_dot_config/nvim/lua/plugins/markdown-preview.lua
Due: install-script

chore: shellcheck ignores on aliases.sh
  root/aliases.sh
Due: install-script

feat: prompt at the bottom of the screen at startup
  root/dot_zshrc.tmpl
Due: install-script

feat: prep a better mise setup
  root/dot_zsh.after/zzz_finish.zsh
  root/dot_zshrc.tmpl
  root/private_dot_config/mise/config.toml
  root/private_dot_config/nvim/lua/plugins/vivify.lua
Due: install-script

doc: WIP README.md
  NEOVIM_PLUGINS.md
  README.md
  install.sh
Due: install-script, docker-test

doc: reorg vim/nvim docs
  README.md
  docs/nvim/README.md
  docs/vim/README.md
Due: none

doc: README updates: mise, brew, etc
  Brewfile
  README.md
Due: none

doc: final README update before merge
  README.md
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

Add table of contents to README.md
  README.md
Due: none

Path conditions:
  install-script: (not (any of: root/**/*encrypted_*)) and (any of: .chezmoiroot, .chezmoiversion, .gitlab-ci.yml, install.sh, root/**/.*, root/**/*)
  docker-test: any of: .dockerignore, Dockerfile, compose.yaml, install.sh
