Repository pdehlke/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-script, docker-test

install-script:
  stage: test
  parallel:
    matrix:
    - UBUNTU_TAG:
      - :20.04
      - :22.04
      - :24.04
  image: ubuntu$UBUNTU_TAG
  variables:
    LANGUAGE: en_US.UTF-8
    LANG: en_US.UTF-8
  before_script:
  - apt-get update -qq
  - apt-get install -qqy locales lsb-release software-properties-common
  ...

docker-test:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  cache: []
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  allow_failure: true
  when: manual
  before_script:
  ...

doc: add a mise demo video
  README.md
Due: none

doc: new screenshots
  README.md
Due: none

doc: better tmux screenshots
  README.md
Due: none

doc: Badges. We need stinkin badges
  LICENSE
  README.md
Due: none

chore: simplify mise enter hook
  root/private_dot_config/mise/config.toml
Due: install-script

chore: update kitty tab styling
  root/private_dot_config/kitty/kitty.conf.tmpl
Due: install-script

chore: linux portability and Dockerfile updates
  Dockerfile
  README.md
  install.sh
  root/aliases.sh
  root/dot_zshrc.tmpl
  root/private_dot_config/mise/config.toml
  root/vim/settings/after/colorscheme.vim
Due: install-script, docker-test

chore: don't run chsh
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

chore: Docker image is now fedora
  Dockerfile
Due: docker-test

chore: don't install nvim plugins
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

chore: polish docker image
  Dockerfile
  root/aliases.sh
  root/private_dot_config/mise/config.toml
Due: install-script, docker-test

chore: add peco to mise
  root/private_dot_config/mise/config.toml
Due: install-script

chore: dont install huge mise frameworks
  root/private_dot_config/mise/config.toml
Due: install-script

chore: fix du alias for linux
  root/aliases.sh
Due: install-script

feat: add .zsh.after/11_fasd.zsh for linux support
  root/dot_zsh.after/11_fasd.zsh
Due: install-script

feat: linux and macos 1passwd support in .ssh/config
  root/private_dot_ssh/config.tmpl
Due: install-script

chore: polish fzf, zmv, and postinstall
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
  root/dot_zsh.after/noglob.zsh
  root/dot_zsh.after/zmv.zsh
  root/dot_zsh.after/zzz_fzf.zsh
  root/dot_zsh.after/zzzz_finish.zsh
Due: install-script

feat: migrate from fasd abandonware to zoxide
  root/aliases.sh
  root/dot_zsh.after/11_fasd.zsh
  root/dot_zsh.after/zoxide.zsh
  root/private_dot_config/fzf/fzf.sh.tmpl
Due: install-script

feat(zoxide): better init; add to docker
  Dockerfile
  root/dot_zsh.after/zoxide.zsh
Due: install-script, docker-test

feat(zoxide): add zoxide editor functions
  root/dot_zsh.after/zoxide.zsh
Due: install-script

chore: dont install huge mise frameworks in containers
  Dockerfile
  root/.chezmoi.yaml.tmpl
  root/private_dot_config/mise/config.toml.tmpl
Due: install-script, docker-test

feat(nvim): better but not perfect syntax highlighting for go templates
  root/private_dot_config/nvim/lua/config/autocmds.lua
  root/private_dot_config/nvim/syntax/gotmpl.vim
Due: install-script

chore: fix up some vim filetypes
  root/dot_tmux.conf.tmpl
  root/dot_zpreztorc.tmpl
  root/dot_zshrc.tmpl
  root/private_dot_config/nvim/syntax/gotmpl.vim
Due: install-script

chore: ensure signed commits
  root/.chezmoi.yaml.tmpl
  root/create_dot_gitconfig.user.tmpl
  root/dot_claude/settings.json
  root/dot_gitconfig.tmpl
  root/dot_zsh.after/000_env.zsh
Due: install-script

chore: rewrite install.sh to avoid curl | sh
  install.sh
Due: install-script, docker-test

chore: pin mise tool versions and lock checksums
  root/dot_gemrc.tmpl
  root/private_dot_config/mise/config.toml.tmpl
  root/private_dot_config/mise/mise.lock
Due: install-script

chore: pin chezmoiexternals and check hashes where possible
  root/.chezmoiexternal.yaml
  root/dot_local/bin/.chezmoiexternal.yaml
  root/dot_local/share/fonts/.chezmoiexternal.yaml
Due: install-script

chore: add global pre-commit hook using trufflehog
  root/dot_gitconfig.tmpl
  root/private_dot_config/git/hooks/executable_pre-commit
Due: install-script

chore: minor fixes. claude does not understand yaml
  root/.chezmoiexternal.yaml
  root/dot_local/bin/.chezmoiexternal.yaml
  root/dot_local/share/fonts/.chezmoiexternal.yaml
  root/dot_tmux.conf.tmpl
  root/private_dot_config/git/hooks/executable_pre-commit
Due: install-script

chore: Support second dotfiles-private repo
  CLAUDE.md
  README.md
  docs/dotfiles-private.md
  root/dot_claude/private_settings.json.tmpl
  root/dot_local/bin/executable_dotfiles-apply
  root/dot_zsh.after/000_functions.zsh
Due: install-script

chore: add claude configs and postinstall action
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
  root/dot_agents/AGENTS.md
  root/dot_claude/plugins/installed_plugins.json
  root/dot_claude/plugins/known_marketplaces.json
  root/dot_claude/plugins/private_blocklist.json
  root/dot_claude/private_dot_caveman-statusline-suffix
Due: install-script

chore: set spinner to always say "Thinking"
  root/dot_claude/private_settings.json.tmpl
Due: install-script

chore: add chezmoi-settings-sync skill and restore settings template
  root/dot_agents/skills/chezmoi-settings-sync/SKILL.md
  root/dot_claude/private_settings.json.tmpl
  root/dot_claude/skills/symlink_chezmoi-settings-sync.tmpl
Due: install-script

claude sucks
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
  root/.chezmoiscripts/run_onchange_after_semgrep-scan.sh.tmpl
Due: install-script

chore: add $yprivate shorthand for private dotfiles root
  root/dot_zsh.after/000_env.zsh
Due: install-script

docs(agents): require domain skill load before language/style skills
  root/dot_agents/AGENTS.md
Due: install-script

chore(plugins): remove skill-codex plugin and sync plugin state
  root/dot_agents/skills/frontend-design-global/SKILL.md
  root/dot_agents/skills/improve-codebase-architecture/DEEPENING.md
  root/dot_agents/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  root/dot_agents/skills/improve-codebase-architecture/LANGUAGE.md
  root/dot_agents/skills/improve-codebase-architecture/SKILL.md
  root/dot_agents/skills/playwright-cli/references/running-code.md
  root/dot_claude/plugins/installed_plugins.json
  root/dot_claude/plugins/known_marketplaces.json
  root/dot_claude/skills/symlink_frontend-design-global.tmpl
  root/dot_claude/skills/symlink_improve-codebase-architecture.tmpl
Due: install-script

Path conditions:
  install-script: (not (any of: root/**/*encrypted_*)) and (any of: .chezmoiroot, .chezmoiversion, .gitlab-ci.yml, install.sh, root/**/.*, root/**/*)
  docker-test: any of: .dockerignore, Dockerfile, compose.yaml, install.sh
